* {
  -webkit-print-color-adjust: exact !important;
  /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important;
  /* Firefox 48 – 96 */
  print-color-adjust: exact !important;
  /* Firefox 97+, Safari 15.4+ */
}
/* Style the course progress container */
.course-progress-container {
  text-align: center;
  margin: 20px;
}

/* Style the course progress bar */
.course-progress-bar {
  width: 100%;
  background-color: #ddd;
  height: 20px;
  position: relative;
}

/* Style the filled portion of the progress bar */
.course-progress-fill {
  height: 100%;
  background-color: #4CAF50;
  /* Change color to your preference */
}

/* Style the course progress text */
.course-progress-text {
  margin-top: 10px;
  font-weight: bold;
}

/* Certificate style */
.certificate {
  background-image: url('../../images/certificate-bg.png');
  background-size: cover;
  width: 800px;
  height: 550px;
  margin: 0 auto;
  position: relative;
}

.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.course-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.student-name {
  font-size: 20px;
  margin-bottom: 20px;
}

.completion-date {
  font-size: 18px;
}

.print-button {
  margin-top: 30px;
}

/* Style for the average_grade div */
.average-grade {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
}

.average-grade:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}

.star-wrapper {
  display: flex;
  justify-content: space-between;
}
