<div class="print-template certificate">
    <div class="content">
        <div class="course-title">Certificate of Completion</div>
        <div class="student-name">This is to certify that</div>
        <div class="student-name"><strong>[USERNAME]</strong></div>
        <div class="course-title">has successfully completed the course</div>
        <div class="student-name"><strong>[COURSE_NAME]</strong></div>
        <div class="completion-date">Date of Completion: [COMPLETION_DATE]</div>
    </div>
</div>
